<a href="https://colab.research.google.com/github/aadityadamle/Topic-Modeling/blob/main/Topic_Modeling.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd
import nltk

Dataset link: https://www.kaggle.com/sunnysai12345/news-summary

In [2]:
!wget https://raw.githubusercontent.com/aadityadamle/Topic-Modeling/main/news_summary.csv

--2021-04-16 14:34:52--  https://raw.githubusercontent.com/aadityadamle/Topic-Modeling/main/news_summary.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.108.133, 185.199.109.133, 185.199.110.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.108.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 11896415 (11M) [text/plain]
Saving to: ‘news_summary.csv’

news_summary.csv    100%[===================>]  11.34M  --.-KB/s    in 0.08s

2021-04-16 14:34:52 (145 MB/s) - ‘news_summary.csv’ saved [11896415/11896415]

In [3]:
#Examine the csv
data = pd.read_csv("/content/news_summary.csv", encoding="latin-1")
data.head()

               author  ...                                              ctext
0        Chhavi Tyagi  ...  The Daman and Diu administration on Wednesday ...
1         Daisy Mowke  ...  From her special numbers to TV?appearances, Bo...
2      Arshiya Chopra  ...  The Indira Gandhi Institute of Medical Science...
3       Sumedha Sehra  ...  Lashkar-e-Taiba's Kashmir commander Abu Dujana...
4  Aarushi Maheshwari  ...  Hotels in Mumbai and other Indian cities are t...

[5 rows x 6 columns]

In [4]:
print(data.shape)
data.columns

(4514, 6)

Index(['author', 'date', 'headlines', 'read_more', 'text', 'ctext'], dtype='object')

In [5]:
data = data.drop(columns = ["author","date","read_more"], axis = 1)
data.head()

                                           headlines  ...                                              ctext
0  Daman & Diu revokes mandatory Rakshabandhan in...  ...  The Daman and Diu administration on Wednesday ...
1  Malaika slams user who trolled her for 'divorc...  ...  From her special numbers to TV?appearances, Bo...
2  'Virgin' now corrected to 'Unmarried' in IGIMS...  ...  The Indira Gandhi Institute of Medical Science...
3  Aaj aapne pakad liya: LeT man Dujana before be...  ...  Lashkar-e-Taiba's Kashmir commander Abu Dujana...
4  Hotel staff to get training to spot signs of s...  ...  Hotels in Mumbai and other Indian cities are t...

[5 rows x 3 columns]

In [6]:
texts = data["text"]
texts[:10]

0    The Administration of Union Territory Daman an...
1    Malaika Arora slammed an Instagram user who tr...
2    The Indira Gandhi Institute of Medical Science...
3    Lashkar-e-Taiba's Kashmir commander Abu Dujana...
4    Hotels in Maharashtra will train their staff t...
5    A 32-year-old man on Wednesday was found hangi...
6    The Delhi High Court reduced the compensation ...
7    A 60-year old Dalit woman was allegedly lynche...
8    An inquiry by the Aircraft Accident Investigat...
9    The Congress party has opened a bank called 'S...
Name: text, dtype: object

In [7]:
texts = texts.str.lower()
texts[:10]

0    the administration of union territory daman an...
1    malaika arora slammed an instagram user who tr...
2    the indira gandhi institute of medical science...
3    lashkar-e-taiba's kashmir commander abu dujana...
4    hotels in maharashtra will train their staff t...
5    a 32-year-old man on wednesday was found hangi...
6    the delhi high court reduced the compensation ...
7    a 60-year old dalit woman was allegedly lynche...
8    an inquiry by the aircraft accident investigat...
9    the congress party has opened a bank called 's...
Name: text, dtype: object

In [8]:
texts = texts.str.replace(r"[^A-Za-z]"," ")
texts[:10]

0    the administration of union territory daman an...
1    malaika arora slammed an instagram user who tr...
2    the indira gandhi institute of medical science...
3    lashkar e taiba s kashmir commander abu dujana...
4    hotels in maharashtra will train their staff t...
5    a    year old man on wednesday was found hangi...
6    the delhi high court reduced the compensation ...
7    a    year old dalit woman was allegedly lynche...
8    an inquiry by the aircraft accident investigat...
9    the congress party has opened a bank called  s...
Name: text, dtype: object

In [9]:
#dowload stopwords
nltk.download("stopwords")
#Setup and remove English stopwords from titles
from nltk.corpus import stopwords
stop_words = set(stopwords.words("english"))

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Unzipping corpora/stopwords.zip.

In [10]:
#Removing the words in stop_words from every title
texts = texts.apply(lambda x : " ".
                            join(word for word in x.split() 
                            if word not in stop_words))
print(texts[:10])

0    administration union territory daman diu revok...
1    malaika arora slammed instagram user trolled d...
2    indira gandhi institute medical sciences igims...
3    lashkar e taiba kashmir commander abu dujana k...
4    hotels maharashtra train staff spot signs sex ...
5    year old man wednesday found hanging inside wa...
6    delhi high court reduced compensation awarded ...
7    year old dalit woman allegedly lynched agra vi...
8    inquiry aircraft accident investigation bureau...
9    congress party opened bank called state bank t...
Name: text, dtype: object

In [11]:
from sklearn.feature_extraction.text import TfidfVectorizer
vectorizer = TfidfVectorizer()

In [12]:
X = vectorizer.fit_transform(texts)

In [13]:
X

<4514x18636 sparse matrix of type '<class 'numpy.float64'>'
	with 137650 stored elements in Compressed Sparse Row format>

In [14]:
from sklearn.decomposition import LatentDirichletAllocation

lda = LatentDirichletAllocation(n_components = 7, random_state = 42)
lda.fit(X)

LatentDirichletAllocation(batch_size=128, doc_topic_prior=None,
                          evaluate_every=-1, learning_decay=0.7,
                          learning_method='batch', learning_offset=10.0,
                          max_doc_update_iter=100, max_iter=10,
                          mean_change_tol=0.001, n_components=7, n_jobs=None,
                          perp_tol=0.1, random_state=42, topic_word_prior=None,
                          total_samples=1000000.0, verbose=0)

The n_compnents parameter is number of topics.

In [15]:
import random

for i in range(10):
  id = random.randint(0,len(vectorizer.get_feature_names()))
  print(vectorizer.get_feature_names()[id])

dhaka
submerged
eastenders
bhiwandi
depending
chandrashekar
disqualified
learnt
naturist
defeating

In [16]:
cat1 = lda.components_[0]

In [17]:
top_words = cat1.argsort()[-10:]
print(top_words)

[11501  7893  8872  6934  3943 18415   205   221  6082 14369]

In [18]:
for i in top_words:
  print(vectorizer.get_feature_names()[i])

open
india
khan
gst
crore
world
actor
added
film
said

In [19]:
for i, cat in enumerate(lda.components_):
  print(f"Top 10 words for category #{i}:")
  print([vectorizer.get_feature_names()[i] for i in cat.argsort()[-10:]])
  print("\n")

Top 10 words for category #0:
['open', 'india', 'khan', 'gst', 'crore', 'world', 'actor', 'added', 'film', 'said']


Top 10 words for category #1:
['sunil', 'hrithik', 'tweeted', 'picture', 'actor', 'said', 'india', 'show', 'film', 'kapil']


Top 10 words for category #2:
['like', 'actor', 'also', 'would', 'india', 'indian', 'jallikattu', 'added', 'film', 'said']


Top 10 words for category #3:
['congress', 'president', 'india', 'state', 'delhi', 'party', 'bjp', 'minister', 'government', 'said']


Top 10 words for category #4:
['rukh', 'like', 'kapoor', 'actress', 'added', 'salman', 'actor', 'said', 'khan', 'film']


Top 10 words for category #5:
['woman', 'arrested', 'allegedly', 'accused', 'man', 'said', 'year', 'delhi', 'old', 'police']


Top 10 words for category #6:
['virat', 'world', 'said', 'indian', 'captain', 'india', 'kohli', 'cricket', 'test', 'team']

From the above results we get some categories clearly as category 3 informs about **Politics**, category 5 represents **Crime** and category 6 classifys **Cricket**. Categories 1 and 4 point towards the indian **film industry**. Notice that words like "film", "actor" and "said" appear in many categories because they are in general very common in news and thats also why we get 2 topics for film industry. The words like these should be ignored. After ignoring these words another topic arises in category 0 which is **Finance and world**.

In [20]:
cat_values = lda.transform(X)
cat_values.shape

(4514, 7)

In [21]:
data["Category"] = cat_values.argmax(axis=1)

In [22]:
data.head()

                                           headlines  ... Category
0  Daman & Diu revokes mandatory Rakshabandhan in...  ...        5
1  Malaika slams user who trolled her for 'divorc...  ...        0
2  'Virgin' now corrected to 'Unmarried' in IGIMS...  ...        3
3  Aaj aapne pakad liya: LeT man Dujana before be...  ...        4
4  Hotel staff to get training to spot signs of s...  ...        3

[5 rows x 4 columns]